.campo-input {
  display: flex;
  flex-direction: column;
}

.campo-input label {
  font-size: 12px;
  margin-bottom: 4px;
  color: rgb(73, 73, 73);
}

.campo-input input {
  height: 30px;
  padding-left: 8px;
  font-family: "Roboto", sans-serif;
  border: 1px solid lightgray;
  font-size: 14px;
  color: rgb(63, 63, 63);
}

.campo-input input.error-campo {
  border: 1px solid #f64747;
}

.campo-input .error-campo {
  font-size: 10px;
  margin-top: 5px;
  color: #f64747;
  opacity: 0.9;
  animation: opacidade 0.5s;
}
