.campo-input {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 75px;
}

.campo-input label {
  font-size: 14px;
  margin-bottom: 4px;
  color: rgb(73, 73, 73);
}

.campo-input input {
  height: 40px;
  padding-left: 8px;
  font-family: "Roboto", sans-serif;
  border: 1px solid lightgray;
  font-size: 14px;
  color: rgb(63, 63, 63);
  width: 100%;
}

.campo-input input:focus {
  border: 1px solid rgba(13, 3, 255, 0.7);
  box-shadow: 0 0 3px rgba(13, 3, 255, 0.3);
}

.campo-input input.error-campo {
  border: 1px solid #f64747;
}

.campo-input input:focus.error-campo {
  box-shadow: 0 0 3px rgb(255, 81, 0);
}

.campo-input .msg-erro {
  position: absolute;
  bottom: -8px;
  font-size: 12px;
  color: #f64747;
  opacity: 0.9;
  animation: opacidade 0.5s;
}
