<div class="movimentacao-container" *ngFor="let lista of listaPorData">
  <div class="data"> {{ lista.data }} </div>
  <div class="card-container">
    <div class="card-mov" *ngFor="let mov of lista.movimentacoes; let i = index">
      <div class="superior">
        <div class="desc">
          <span class="txt-desc">{{ mov.descricao }}</span>
        </div>
        <div class="valor">{{ mov.valor.toLocaleString('pt-br', { style: 'currency', currency: 'BRL' }) }}</div>
      </div>
      <div class="inferior">
        <div class="tag verde" *ngIf="mov.tipo == 1">
          <span>Receita</span>
        </div>
        <div class="tag vermelho" *ngIf="mov.tipo == 2">
          <span>Despesa</span>
        </div>
        <div class="opcoes-card">
        <span
          [id]="'span' +i"
          class="material-icons"
          [ngClass]="{'ativo': mov.status === 1}"
          (click)="setarStatus(mov.status, mov, i)"
        >
          thumb_up_off_alt
        </span>
          <button class="dropdown dropdown-button">
          <span class="material-icons icone-mais" (click)="verificarPosicaoDropdownButton(i)">
            more_vert
          </span>
            <span class="dropdown-opcoes" [id]="'lista-opcoes' + i">
            <button class="opcoes-button">Editar</button>
            <button class="opcoes-button" (click)="deletarMovimentacao(mov)">Excluir</button>
          </span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
