.movimentacao-container .data {
  font-size: 15px;
  margin: 16px 0;
  font-weight: 300;
  color: #424242;
}

.card-container {
  display: grid;
  gap: 10px;
}

.card-mov {
  background: #ffffff;
  padding: 15px;
  border-radius: 5px;
  min-height: 50px;
  transition: 0.3s;
  user-select: none;
  border: 1px solid lightgray;
  box-shadow: none;
}

.card-mov .superior {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  padding-bottom: 5px;
  transition: 0.3s;
}

.card-mov .superior .desc {
  display: flex;
  flex-direction: column;
}

.card-mov .inferior {
  display: flex;
  align-items: center;
}

.card-mov .inferior .tag {
  font-size: 12px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: lightgray;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.card-mov .inferior .tag.vermelho {
  background-color: rgb(255, 129, 129);
}

.card-mov .inferior .tag.verde {
  background-color: rgba(13, 3, 255, 0.67);
}

.opcoes-card {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.opcoes-card span {
  cursor: pointer;
}

.opcoes-card span:hover {
  color: #552dfb;
}

.opcoes-card span.ativo {
  color: #552dfb;
}

/* dropdown */
.dropdown,
.dropdown  button {
  appearance: none;
  border: none;
  background: none;
}

.dropdown {
  position: relative;
  outline-width: 0;
  outline-color: transparent;
}

.dropdown:focus {
  color: #552dfb;
}

.icone-mais {
  color: #333333;
}

.dropdown-opcoes {
  display: none;
  position: absolute;
  right: 0;
  border: 1px solid lightgray;
  min-width: 120px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  animation: scale .1s;
  z-index: 10;
}

.dropdown-opcoes.limite-altura {
  top: -74px;
}

.dropdown-opcoes .opcoes-button {
  font-family: "Roboto", sans-serif;
  padding: 10px;
  min-width: 120px;
  transition: .3s;
  outline-color: transparent;
  outline-width: 0;
  cursor: pointer;
}

.dropdown-opcoes .opcoes-button:focus {
  color: #fff !important;
  background: #552dfb !important;
}

.dropdown-opcoes .opcoes-button:hover {
  background: #f4f4f4;
}

.dropdown:focus .dropdown-opcoes,
.dropdown:active .dropdown-opcoes{
  display: block;
}


@media screen and (min-width: 1000px) {
  /*.card-mov:hover {*/
  /*  border: 1px solid #0084ff;*/
  /*  box-shadow: 2px 2px rgb(0, 140, 255);*/
  /*}*/
}
