<div class="background-login">
  <div class="container-login-cadastro">
    <form
      class="login"
      *ngIf="!cadastroOpen"
      [formGroup]="loginForm"
      (ngSubmit)="logarUsuario()"
    >
      <div class="titulo-login">
        <span>Entre com seu Usuário</span>
        <div class="logo"></div>
      </div>

      <div class="campos">
        <div class="input-text">
          <label for="e-mail">Email</label>
          <input
            type="text"
            name="Email"
            id="e-mail"
            formControlName="email"
            [ngClass]="{
              error: checkErrorCamp(loginForm, 'email')
            }"
          />
          <span class="error-campo" *ngIf="checkErrorCamp(loginForm, 'email')">
            {{ getErrorMessage(loginForm, "email") }}
          </span>
        </div>

        <div class="input-text">
          <label for="senha">Senha</label>
          <input
            type="password"
            name="senha"
            id="senha"
            formControlName="senha"
            [ngClass]="{ error: checkErrorCamp(loginForm, 'senha') }"
          />
          <span class="error-campo" *ngIf="checkErrorCamp(loginForm, 'senha')">
            {{ getErrorMessage(loginForm, "senha") }}
          </span>
        </div>
      </div>

      <div id="text-error1" *ngIf="!!hasErrorLogin" class="error-form">
        <span class="material-icons">error_outline</span>
        <span>{{ hasErrorLogin }}</span>
      </div>

      <div class="btns-login">
        <button type="submit" class="btn btn-logar">Login</button>
        <p class="opcao-login">
          Novo por aqui? <span class="habilitar-cadastro" (click)="abrirCadastro()">Cadastrar</span>
        </p>
      </div>
    </form>

    <form
      class="cadastro"
      *ngIf="cadastroOpen"
      [formGroup]="cadastroForm"
      (ngSubmit)="cadastrarUsuario()"
    >
      <div class="titulo-cadastro">
        <span>Informe seus dados</span>
      </div>

      <div class="campos-cadastro">
        <div class="input-text">
          <label for="nome">Nome</label>
          <input
            type="text"
            name="nome"
            id="nome"
            formControlName="nome"
            [ngClass]="{ error: checkErrorCamp(cadastroForm, 'nome') }"
          />
          <span
            class="error-campo"
            *ngIf="checkErrorCamp(cadastroForm, 'nome')"
          >
            {{ getErrorMessage(cadastroForm, "nome") }}
          </span>
        </div>

        <div class="input-text">
          <label for="cpf">CPF</label>
          <input
            type="text"
            name="cpf"
            id="cpf"
            formControlName="cpf"
            [ngClass]="{ error: checkErrorCamp(cadastroForm, 'cpf') }"
            mask="000.000.000-99"
          />
          <span class="error-campo" *ngIf="checkErrorCamp(cadastroForm, 'cpf')">
            {{ getErrorMessage(cadastroForm, "cpf") }}
          </span>
        </div>

        <div class="input-text">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            id="email"
            formControlName="email"
            [ngClass]="{ error: checkErrorCamp(cadastroForm, 'email') }"
          />
          <span
            class="error-campo"
            *ngIf="checkErrorCamp(cadastroForm, 'email')"
          >
            {{ getErrorMessage(cadastroForm, "email") }}
          </span>
        </div>

        <div class="input-text">
          <label for="novaSenha">Senha</label>
          <input
            type="password"
            name="novaSenha"
            id="novaSenha"
            formControlName="senha"
            [ngClass]="{ error: checkErrorCamp(cadastroForm, 'senha') }"
          />
          <span
            class="error-campo"
            *ngIf="checkErrorCamp(cadastroForm, 'senha')"
          >
            {{ getErrorMessage(cadastroForm, "senha") }}
          </span>
        </div>

        <div class="input-text">
          <label for="repetirNovaSenha">Confirmar Senha</label>
          <input
            type="password"
            name="repetirNovaSenha"
            id="repetirNovaSenha"
            formControlName="conSenha"
            [ngClass]="{ error: checkErrorCamp(cadastroForm, 'conSenha') }"
          />
          <span
            class="error-campo"
            *ngIf="
              (cadastroForm.controls.conSenha.invalid ||
                cadastroForm.invalid) &&
              cadastroForm.controls.conSenha.dirty
            "
          >
            {{ getErrorMessage(cadastroForm, "conSenha") }}
          </span>
        </div>
      </div>

      <div id="text-error" *ngIf="!!hasErrorRegister" class="error-form">
        <span class="material-icons">error_outline</span>
        <span>{{ hasErrorRegister }}</span>
      </div>

      <div class="botoes-cadastro">
        <button type="submit" class="btn btn-cadastrar">Confirmar</button>
        <p class="opcao-login">
          Já tem um conta? <span class="habilitar-cadastro" (click)="fecharCadastro()">Entrar</span>
        </p>
      </div>
    </form>
  </div>
</div>
