* {
  outline: none;
}
::ng-deep body {
  background-image: url("../../../../assets/svg/background-principal.svg") !important;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  width: 90%;
  margin: 20px auto;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
}

.logo .logo-area {
  width: 10%;
}

.logo .img {
  background-image: url("../../../../assets/svg/jymbo-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.logo .logo-titulo {
  margin-top: 7px;
  color: #ffffff;
  font-size: 15px;
}

.logo .barra-menu {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-repeat: no-repeat;
  width: 80%;
  background-color: transparent;
  background-size: contain;
}

.logo .barra-menu .area-menu {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto Condensed", sans-serif;
  margin: 5px;
}

.logo .barra-menu .area-menu .descricao-boas {
  visibility: hidden;
}

.logo .barra-menu .area-menu .botoes-menu input {
  appearance: none;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: #4400ff;
  color: #ffffff;
  cursor: pointer;
}

.container-principal {
  width: 90%;
  margin: 20px auto;
  font-family: "Roboto Condensed", sans-serif;
}

/* MESES */
.meses {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #4400ff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 10px 10px 0 10px;
  width: max-content;
  color: #fff;
  min-width: 150px;
}

.meses span {
  margin: auto 12px;
}

.meses button {
  width: 44px;
  height: 30px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* PAINEL */
.painel {
  background-color: #4400ff;
  color: #ffffff;
  margin: 0 auto 20px auto;
  border-radius: 200px;
  padding: 10px 20px;
  width: 80%;
}

.painel .receita-total {
  text-align: center;
  font-size: 30px;
  margin-bottom: 5px;
}

.painel .receitas-despesas {
  display: flex;
  justify-content: space-between;
}

.painel .item-painel {
  width: 48%;
}

.painel .item-painel:nth-child(1) {
  text-align: right;
}

.painel .item-painel .text {
  font-size: 18px;
}

.painel .item-painel .valor {
  font-size: 22px;
}

/* CONTAINER CONTEÚDO */
.conteudo-container {
  padding: 0px;
  box-shadow: none;
  border-radius: 4px;
}

/* BODY */
.body-principal {
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .logo .logo-area {
    width: 20%;
  }

  .logo .img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
  }

  .logo .logo-titulo {
    margin-top: 5px;
  }

  .logo .barra-menu {
    width: 60%;
    background-size: auto;
    background-color: #ffffff;
  }

  .logo .barra-menu .area-menu {
    margin: 20px 40px 20px 70px;
  }

  .logo .barra-menu .area-menu .descricao-boas {
    visibility: visible;
    font-size: 18px;
    padding-top: 5px;
  }

  /* MESES */
  .meses {
    min-width: 200px;
  }

  /* PAINEL */
  .painel {
    padding: 20px;
    width: 40%;
  }

  .body-principal {
  }
}
