@import "../../shared/input-text-style.css";

* {
  outline: none;
  box-sizing: border-box;
}

::ng-deep html {
  min-height: 100vh;
}

::ng-deep body {
  background-image: url("../../../../assets/svg/background-principal.svg") !important;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  background: linear-gradient(180deg, #1a0f35, #1b1b2f);
  padding: 10px 20px;
  min-height: 10vh;
}

.header-conteudo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header .logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.header .logo-area .img {
  background-image: url("../../../../assets/svg/jymbo-logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.header .logo-area .logo-titulo {
  color: #ffffff;
  font-size: 15px;
}

.header .barra-menu .area-menu {
  display: flex;
  justify-content: space-between;
}

.header .barra-menu .area-menu .botoes-menu {
  display: flex;
  gap: 15px;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.header .barra-menu .area-menu .area-usuario {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header .barra-menu .area-menu .botoes-menu .btn {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  appearance: none;
  border: none;
  border-radius: 2px;
  padding: 5px 15px;
  color: #ffffff;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.3s;
  background: transparent;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
}

.header .barra-menu .area-menu .botoes-menu .btn:hover {
  background-color: rgba(45, 45, 70, 1);
}

.container-principal {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 115px auto;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  min-height: 90vh;
}

.container-principal.detalhes {
  grid-template-rows: 60px 190px auto;
}

/* MESES */
.meses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  color: #fff;
  border-radius: 5px;
  width: max-content;
  min-width: 200px;
  min-height: 35px;
}

.meses span {
  margin: auto 12px;
}

.meses button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 30px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* PAINEL */
.painel-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
  width: 100%;
  color: #fff;
  font-size: 20px;
  height: 80px;
  overflow: hidden;
  transition: 0.5s;
}

.painel-cards.detalhes {
  height: auto;
}

.mostrar-detalhes {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  color: rgba(92, 86, 255, 0.7);
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
}

.card-painel {
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-painel:nth-child(1) {
  grid-column: 1/3;
}

.card-painel:nth-child(1) .card-painel-body .cifrao {
  font-size: 16px;
  line-height: 40px;
}

.card-painel:nth-child(1) .card-painel-body .valor-total {
  font-size: 40px;
}

.card-painel-titulo {
  font-size: 16px;
  border-bottom: 1px solid rgba(13, 3, 255, 67%);
  width: max-content;
}

.card-painel-titulo.saldo {
  border-bottom: 1px solid rgba(3, 255, 171, 0.67);
}

.card-painel-titulo.receita {
  border-bottom: 1px solid rgba(13, 3, 255, 67%);
}

.card-painel-titulo.despesa {
  border-bottom: 1px solid rgb(255, 129, 129);
}

.card-painel-body {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}

.card-painel-body .cifrao {
  font-size: 14px;
  line-height: 26px;
}

.card-painel-body .valor-total {
  font-size: 25px;
}

/* CONTAINER CONTEÚDO */
.area-botoes {
  display: flex;
  gap: 10px;
  padding: 0 10px;
  margin-top: 20px;
}

.area-botoes .btn {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: center;
  background: #fff;
  border-radius: 200px;
  cursor: pointer;
  width: 90px;
  height: 40px;
  color: rgba(13, 3, 255, 67%);
  margin-bottom: 10px;
  padding: 5px 10px;
}

.area-botoes .btn .text-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* BODY */
.container-cadastro,
.container-movimentacoes,
.receitas-despesas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #f7f7f7;
}

.container-cadastro {
  display: none;
}

.secao {
  margin-top: 20px;
  background: #fff;
  padding: 20px 20px;
  width: 100%;
}

.titulo-secao h3 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  color: #181818;
  letter-spacing: 0.2px;
  margin-bottom: 5px;
}

.receitas-despesas .conteudo-receitas-despesas {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.conteudo-receitas-despesas .item-painel .text {
  color: #3a3a3ac2;
  font-size: 13px;
}

.conteudo-receitas-despesas .item-painel .valor {
  font-size: 16px;
}

/* FORMULARIO NOVA MOVIMENTACAO */
.tipo-mov {
  display: flex;
}

.componente-escolha {
  display: flex;
  justify-content: space-around;
  background: rgb(241, 241, 241);
  padding: 4px;
  gap: 4px;
  border-radius: 5px;
  font-size: 14px;
  user-select: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.componente-escolha .opcao {
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.componente-escolha .opcao.ativa {
  cursor: default;
  background: white;
}

/* AREA BOTAO CONFIRMAR FORMULÁRIO */
.area-botao-confirmar {
  margin-top: 10px;
}

.area-botao-confirmar .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px 15px;
  background: none;
  cursor: pointer;
  min-height: 35px;
}

.area-botao-confirmar .btn.primary {
  border: none;
  background: rgba(13, 3, 255, 67%);
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 14px;
  transition: 0.4s;
}

.area-botao-confirmar .btn.primary:hover {
  background: rgba(11, 3, 255, 0.76);
}

/* CONTAINER MOVIMENTAÇÕES */
.area-movimentacoes {
  display: grid;
  gap: 10px;
}

/* CONFIGURACOES JS */
.container-cadastro.show {
  display: flex;
}

.container-cadastro.hide {
  display: none;
}

@media screen and (min-width: 1000px) {
  .container-principal,
  .header-conteudo {
    width: 90%;
    margin: 0 auto;
  }

  .header {
    background: rgba(35, 35, 60, 1);
    margin-bottom: 20px;
    padding: 15px 0;
    min-height: 5vh;
  }

  .header .img {
    width: 50px;
    height: 50px;
  }

  .header .logo-titulo {
    margin-top: 5px;
  }

  .header .barra-menu .area-menu .descricao-boas {
    visibility: visible;
    font-size: 18px;
    padding-top: 5px;
  }

  .container-principal,
  .container-principal.detalhes {
    min-height: auto;
    grid-template-rows: auto max-content auto auto;
  }

  .container-principal {
    gap: 10px;
    grid-template-columns: 1fr 2fr;
  }

  /* MESES */
  .meses {
    background: rgba(35, 35, 60, 1);
    border-radius: 5px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 40px;
  }

  /* PAINEL */
  .painel {
    grid-row: 2;
    grid-column: 1/2;
  }
  .painel-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 0;
    width: 100%;
    height: auto;
  }

  .painel-cards.detalhes {
    height: auto;
  }

  /* DETALHES */
  .mostrar-detalhes {
    display: none;
  }

  .card-painel {
    padding: 20px;
    background: rgba(35, 35, 60, 1);
    align-items: flex-start;
  }

  .card-painel:nth-child(1) {
    grid-column: 1/4;
  }

  .card-painel:nth-child(2),
  .card-painel:nth-child(3) {
    display: none;
  }

  .card-painel-titulo {
    font-size: 16px;
    border-bottom: 1px solid rgba(13, 3, 255, 67%);
    width: max-content;
  }

  .card-painel-titulo.saldo {
    border-bottom: 1px solid rgba(3, 255, 171, 0.67);
  }

  .card-painel-titulo.receita {
    border-bottom: 1px solid rgba(13, 3, 255, 67%);
  }

  .card-painel-titulo.despesa {
    border-bottom: 1px solid rgb(255, 129, 129);
  }

  .card-painel-body {
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }

  .area-botoes {
    display: none;
  }

  .container-cadastro,
  .container-movimentacoes,
  .receitas-despesas {
    background: transparent;
  }

  .receitas-despesas {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  .receitas-despesas .secao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .receitas-despesas .secao .titulo-secao h3 {
    font-size: 20px;
  }

  .container-cadastro {
    display: flex;
    grid-row: 3;
    grid-column: 1/2;
  }

  .container-movimentacoes {
    grid-row: 3;
    grid-column: 2/3;
  }

  .conteudo-receitas-despesas .item-painel .text {
    font-size: 20px;
  }

  .conteudo-receitas-despesas .item-painel .valor {
    font-size: 35px;
    font-weight: 100;
  }

  /* AJUSTES NA CLASSE DE SEÇÃO */
  .secao {
    margin-top: 0;
    margin-bottom: 0;
    background: #fff;
    padding: 20px 20px;
    width: 100%;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1340px) {
  .header-conteudo,
  .container-principal {
    width: 1200px;
  }
}
