.card-mov {
  background: #ffffff;
  padding: 15px;
  border-radius: 5px;
  min-height: 50px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
  border: 1px solid lightgray;
  box-shadow: none;
}

.card-mov:hover {
  border: 1px solid #0084ff;
}

.card-mov .superior {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
  padding-bottom: 5px;
  transition: 0.3s;
}

.card-mov:hover .superior {
  border-bottom: 1px solid #0084ff;
}

.card-mov .superior .desc {
  display: flex;
  flex-direction: column;
}

.card-container .data {
  font-size: 15px;
  margin: 16px 0;
  font-weight: 300;
  color: #424242;
}

.card-mov .inferior {
  display: flex;
}

.card-mov .inferior .tag {
  font-size: 12px;
  padding: 5px 10px;
  color: #ffffff;
  background-color: lightgray;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
}

.card-mov .inferior .tag.vermelho {
  background-color: rgb(255, 129, 129);
}

.card-mov .inferior .tag.verde {
  background-color: rgba(13, 3, 255, 67%);
}

@media screen and (min-width: 1000px) {
  .card-mov:hover {
    border: 1px solid #0084ff;
    box-shadow: 2px 2px rgb(0, 140, 255);
  }
}
